* {
 box-sizing: border-box;
 padding: 0;
}



.collectionItem {
  display: grid;
 /*  width: 900px;
   height: 500px;*/
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 10px, 10px;
  /*position: relative;*/
}


.collectionContent {
  display: grid;
  text-align: center;
  justify-content: center;
  position: relative;
  margin: 5px;
}


.collectionImage {
  display: block;
  max-width: 100%;
  height: auto;
}

.colllectionContent.custom-button {
   width: 30%;
   opacity: 0.7;
   position: absolute;
   top: 20px;
   display:none;
}

.collectionContent:hover {
   .collectionImage {
      opacity: 0.8;
   }

   .custom-button {
    opacity: 0.85;
    display: flex;
   }

}

.collectionFooter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  width: 90%;
}

.price {
  width: 10%;
}
